@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-02-font-family: "Inter", var(--font-inter), Helvetica;
  --body-02-font-size: 16px;
  --body-02-font-style: normal;
  --body-02-font-weight: 400;
  --body-02-letter-spacing: 0px;
  --body-02-line-height: 28px;
  --button-01-font-family: "Inter", Helvetica;
  --button-01-font-size: 16px;
  --button-01-font-style: normal;
  --button-01-font-weight: 500;
  --button-01-letter-spacing: 0.8px;
  --button-01-line-height: normal;
  --button-02-font-family: "Inter", Helvetica;
  --button-02-font-size: 16px;
  --button-02-font-style: normal;
  --button-02-font-weight: 500;
  --button-02-letter-spacing: 0.8px;
  --button-02-line-height: normal;
  --caption-font-family: "Inter", Helvetica;
  --caption-font-size: 14px;
  --caption-font-style: normal;
  --caption-font-weight: 300;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --display-text-font-family: "Playfair Display", var(--font-playfair), Helvetica;
  --display-text-font-size: 100px;
  --display-text-font-style: italic;
  --display-text-font-weight: 600;
  --display-text-letter-spacing: 0px;
  --display-text-line-height: 128px;
  --heading-01-font-family: "Playfair Display", Helvetica;
  --heading-01-font-size: 80px;
  --heading-01-font-style: normal;
  --heading-01-font-weight: 600;
  --heading-01-letter-spacing: 0px;
  --heading-01-line-height: 100px;
  --heading-02-font-family: "Playfair Display", Helvetica;
  --heading-02-font-size: 72px;
  --heading-02-font-style: normal;
  --heading-02-font-weight: 600;
  --heading-02-letter-spacing: 0px;
  --heading-02-line-height: normal;
  --heading-03-font-family: "Playfair Display", Helvetica;
  --heading-03-font-size: 70px;
  --heading-03-font-style: italic;
  --heading-03-font-weight: 600;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 80px;
  --heading-04-font-family: "Playfair Display", Helvetica;
  --heading-04-font-size: 60px;
  --heading-04-font-style: normal;
  --heading-04-font-weight: 500;
  --heading-04-letter-spacing: 0px;
  --heading-04-line-height: normal;
  --heading-05-font-family: "Playfair Display", Helvetica;
  --heading-05-font-size: 32px;
  --heading-05-font-style: normal;
  --heading-05-font-weight: 600;
  --heading-05-letter-spacing: 0px;
  --heading-05-line-height: normal;
  --heading-07-font-family: "Inter", Helvetica;
  --heading-07-font-size: 18px;
  --heading-07-font-style: normal;
  --heading-07-font-weight: 500;
  --heading-07-letter-spacing: 0px;
  --heading-07-line-height: normal;
  --label-big-font-family: "Inter", Helvetica;
  --label-big-font-size: 20px;
  --label-big-font-style: normal;
  --label-big-font-weight: 400;
  --label-big-letter-spacing: 0px;
  --label-big-line-height: normal;
  --label-medium-font-family: "Inter", Helvetica;
  --label-medium-font-size: 16px;
  --label-medium-font-style: normal;
  --label-medium-font-weight: 400;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: normal;
  --label-small-font-family: "Inter", Helvetica;
  --label-small-font-size: 12px;
  --label-small-font-style: normal;
  --label-small-font-weight: 400;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: normal;
  --primary-01: rgba(0, 0, 0, 1);
  --primary-02: rgba(82, 56, 37, 1);
  --primary-03: rgba(252, 251, 250, 1);
  --secondary-01: rgba(102, 82, 68, 1);
  --secondary-02: rgba(168, 156, 147, 1);
  --secondary-03: rgba(208, 194, 176, 1);
  --secondary-05: rgba(248, 245, 243, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {

  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}